mixin basic-picture(basicPicture_props)
  -
    const {
      parentClass,
      numerator,
      altText,
      isWrapped=false,
      imageFormat='jpg',
    } = basicPicture_props;
    const parentElementClass = `${parentClass}__image-wrapper`;
    const parentElementNumeratorClass = (
      isWrapped
      ? null
      : `${parentElementClass}--${numerator}`
    );
    const imageSubpath = `${parentClass}__image--${numerator}`;

  picture.basic-picture(class=[parentElementClass, parentElementNumeratorClass])
    img.basic-picture__image(
      src=`img/${imageSubpath}.${imageFormat}`
      alt=basicPicture_props.altText
    )
