mixin head()
  head
    meta(charset='utf-8')
    title #{page.title} | #{SITE_TITLE}
    each item in GENERAL_META_DATA
      - const [name, content] = item;
      meta(name=name content=content)
    each item in FAVICONS_LINK_DATA
      link&attributes(item)
    each item in FAVICONS_META_DATA
      - const [name, content] = item;
      meta(name=name content=content)
    each weightValue in FONT_PROPERTIES.weightNames
      each styleValue in FONT_PROPERTIES.styleNames
        link(
          rel='preload'
          href=`fonts/${FONT_FAMILY_NAME}-${weightValue}-${styleValue}.woff2`
          as='font'
          crossorigin='anonymous'
        )
    link(rel='stylesheet' href='css/main.min.css')
