mixin intro()
  section.intro(class=attributes.class)
    .intro__container
      h2.intro__heading Международная перевозка сборных грузов
      picture.intro__image-wrapper.intro__image-wrapper--square
        img.intro__image(
          src='img/intro__image--square.jpg'
          alt='Старт ракеты'
        )
      picture.intro__image-wrapper.intro__image-wrapper--rectangle
        img.intro__image(
          src='img/intro__image--rectangle.jpg'
          alt='Облака'
        )
