mixin logistics-crumbs(logisticsCrumbs_dataset)
  .logistics-crumbs(class=attributes.class)
    ul.logistics-crumbs__heading-list
      each item, index in logisticsCrumbs_dataset
        - const { modifier, caption, list } = item;
        li.logistics-crumbs__heading-item(class=[
          `logistics-crumbs__heading-item--${modifier}`,
          (
            modifier === 'europe'
            ? 'logistics-crumbs__heading-item--current'
            : null
          ),
        ])
          a.logistics-crumbs__heading-link(href='#')= caption
    .logistics-crumbs__inner
      each item in logisticsCrumbs_dataset
        -
          const { modifier, caption, list } = item;
        .logistics-crumbs__list(class=[
          `logistics-crumbs__list--${modifier}`,
          modifier === 'europe' ? 'logistics-crumbs__list--current' : null,
        ])
          each listItem in list
            .logistics-crumbs__item(class=(
              listItem === list[0]
              ? 'logistics-crumbs__item--current'
              : null
            ))
              a.logistics-crumbs__link(href='#')= listItem
