mixin article()
  include _m_article__paragraphs
  article.article(class=attributes.class)
    +common-container().article__container
      header.article__header
        +common-heading('h1').article__heading
        +common-inner-page-content().article__inner
          +common-picture().article__banner(
            src='img/article__banner-image.jpg'
            alt=page.heading
          )
      +common-inner-page-content().article__inner
        .article__top-block
          h3.article__subtitle Подзаголовок для статьи
          .article__row
            +article__paragraphs()
            +article__paragraphs()
        .article__bottom-block
          h3.article__subtitle Подзаголовок для статьи
          +article__paragraphs()
          +common-picture(
            src='img/article__image.jpg'
            alt='Контейнеры на складе'
          ).article__image-wrapper

