mixin glossary()
  include _d_glossary
  .glossary(class=attributes.class)
    +generic-container().glossary__container
      +generic-heading('h1').glossary__heading
      +generic-inner-content().glossary__inner
        +generic-picture(
          src='img/glossary__image.jpg'
          alt='Словарь'
        ).glossary__image-wrapper
        ul.glossary__menu
          each item in GLOSSARY_MENU_ITEMS
            li.glossary__menu-item
              a.glossary__menu-link(href='#')= item
        .glossary__content
          h3.glossary__wordlist-title Толковый словарь
          ul.glossary__wordlist
            each item in GLOSSARY_DICTIONARY_ITEMS
              li.glossary__word
                a.glossary__word-link(href='#')= item
