mixin search-form()
  form.search-form(
    method='GET'
    action=FORM_DEFAULT_ACTION
    name='search-tracking'
  )
    +generic-formfield-text('search')(
      name='search-text'
      placeholder='Введите трек-номер'
    ).search-form__field Поле ввода трек-номера
    button.search-form__button(type='submit')
      span.search-form__button-legend Найти отправление
