mixin search-form()
  form.search-form(
    method='GET'
    action=FORM_DEFAULT_ACTION
    name='search-tracking'
  )
    +generic-textfield-block('Поле ввода трек-номера').search-form__inner
      +generic-textfield('search')(
        name='search-text'
        placeholder='Введите трек-номер'
      ).generic-textfield-block__input.search-form__field
    button.search-form__button(type='submit')
      span.search-form__button-legend Найти отправление
