mixin request-form__group(requestFormGroup_modifier)
  -
    const requestFormGroup_data = REQUEST_FORMS_DATA[requestFormGroup_modifier];
    const { caption, type, fields } = requestFormGroup_data;
  fieldset.generic-formgroup(class=[
    `generic-formgroup--${type}`,
    'request-form__group',
    `request-form__group--${requestFormGroup_modifier}`,
  ])
    block
    legend.generic-formgroup__caption= caption
    ul.generic-formgroup__list.request-form__list
      each field in fields
        - const { name, legend, placeholder, value, checked } = field;
        li.generic-formgroup__item.request-form__item
          case type
            when 'text'
              +generic-textfield-block(legend).generic-formgroup__label
                input.generic-textfield(
                  type='text'
                  name=name
                  placeholder=placeholder
                  required
                ).generic-textfield-block__input.generic-formgroup__textfield
            when 'radio'
              input.generic-formgroup__radiofield(
                type='radio'
                name='transport_type'
                value=value
                checked=checked
                id=value
                required
              )
              label.generic-formgroup__label(for=value)= legend
