mixin request-formgroup(requestFormgroup_modifier)
  include _d_request-formgroup
  -
    const requestFormgroup_data = REQUEST_FORMGROUP_DATA[requestFormgroup_modifier];
    const { caption, type, fields } = requestFormgroup_data;
  fieldset.request-formgroup(class=[
    `request-formgroup--${requestFormgroup_modifier}`,
    attributes.class,
  ])
    legend.request-formgroup__caption= caption
    ul.request-formgroup__list
      each field in fields
        - const { name, legend, placeholder, value, checked } = field;
        li.request-formgroup__item
          case type
            when 'text'
              label.request-formgroup__label(
                class=`request-formgroup__label--${name}`,
              )
                span.request-formgroup__legend= legend
                input.generic-textfield.request-formgroup__textfield(
                  class=(
                    name === 'type'
                    ? 'request-formgroup__textfield--readonly'
                    : null
                  )
                  type=type,
                  name=name,
                  placeholder=placeholder,
                  readonly=(name === 'type'),
                  required,
                )
            when 'radio'
              input(
                type=type,
                name='transport_type',
                value=value,
                checked=checked,
                id=value,
                required,
              ).request-formgroup__radiofield
              label.request-formgroup__label(for=value)= legend
