mixin request-form(requestForm_props)
  include _d_request-form
  include _m_request-form__group
  - const { modifier, heading } = requestForm_props;
  form.request-form(
    class=[`request-form--${modifier}`, attributes.class]
    method='POST',
    action=FORM_DEFAULT_ACTION,
    name=`${modifier}-request`,
  )
    h3.request-form__heading= heading

    +request-form__group('route')
      legend.request-form__group__caption Маршрут
      each field in REQUEST_FORM_FIELDS['route']
        +common-form-field()


    +request-form__group('person')



    footer.request-form__footer
      button.request-form__button(type='submit') Рассчитать доставку
      p.request-form__caution Нажимая кнопку "Рассчитать доставку", я соглашаюсь с #[a.request-form__link(href='#') правилами обработки персональных данных]
