mixin request-form(requestForm_props)
  include _d_request-form
  include _m_request-form__group
  - const { modifier, heading } = requestForm_props;
  form.request-form(
    class=[`request-form--${modifier}`, attributes.class]
    method='POST',
    action=FORM_DEFAULT_ACTION,
    name=`${modifier}-request`,
  )
    h3.request-form__heading= heading

    +request-form__group('route')
      each field in REQUEST_FORMS_DATA['route']['fields']
        - const [name, legend] = field;
        +common-form-field(
          name=name
          placeholder=legend
        ).request-form__field= legend

    case modifier
      when 'shipping'
        +request-form__group('dimensions')
         each field in REQUEST_FORMS_DATA['dimensions']['fields']
          -
            const [name, legend] = field;
            const unit = (name === 'weight' ? 'кг' : 'см');
          +common-form-field(
            name=name
            placeholder=`${legend} (${unit})`
          ).request-form__field= legend
      when 'calculation'
      default
        +request-form__group('capgo-type')
          each field in REQUEST_FORMS_DATA['capgo-type']['fields']
            - const [name, legend] = field;
            .request-form__select-field
            +common-form-field(
              name=name
              placeholder=`${legend}, кг`
            ).request-form__field= legend

        +request-form__group('transport-type')

    +request-form__group('person')
      each field in REQUEST_FORMS_DATA['person']['fields']
        - const [name, legend] = field;
        +common-form-field(
          name=name
          placeholder=legend
        ).request-form__field= legend

    footer.request-form__footer
      button.request-form__button(type='submit') Рассчитать доставку
      p.request-form__caution Нажимая кнопку "Рассчитать доставку", я соглашаюсь с #[a.request-form__link(href='#') правилами обработки персональных данных]
