mixin request-form(requestForm_props)
  include _d_request-form
  - const { modifier, heading } = requestForm_props;
  form.request-form(
    class=`request-form--${modifier}`
    method='POST',
    action=FORM_DEFAULT_ACTION,
    name=`${modifier}-request`,
  )
    h3.request-form__heading= heading

    mixin request-form__group(requestFormGroup_props)
      - const { title, caption } = requestFormGroup_props;
      fieldset.request-form__group(class=`request-form__group--${title}`)
        legend.request-form__group-caption= caption
        block

    +request-form__group(REQUEST_FORM_ROUTE)
      each field in REQUEST_FORM_ROUTE.fields
        - const [name, legend] = field;
        +form-field--text({
          name: name,
          legend: legend,
          placeholder: legend
        }).request-form__field

    case modifier
      when 'shipping'
        +request-form__group(REQUEST_FORM_DIMENSIONS)
          each field in REQUEST_FORM_DIMENSIONS.fields
            -
              const [name, legend] = field;
              const unit = (name === 'weight' ? 'кг' : 'см');
            +form-field--text({
              name: name,
              legend: legend,
              placeholder: `${legend} (${unit})`,
            }).request-form__field

      when 'calculation'
        +request-form__group(REQUEST_FORM_CARGO_TYPES)
          .request-form__select-list
          each field in REQUEST_FORM_CARGO_TYPES.fields
            - const [name, legend] = field;
            +form-field--text({
              name: name,
              legend: legend,
              placeholder: `${legend}, кг`,
            }).request-form__field

        +request-form__group(REQUEST_FORM_TRANSPORT_TYPES)
          each field in REQUEST_FORM_TRANSPORT_TYPES.fields
            - const [value, legend] = field;
            +form-field--radio({
              name: 'transport_type',
              legend: legend,
              value: value,
              defaultValue: 'plane',
            }).request-form__field

    +request-form__group(REQUEST_FORM_PERSON)
      each field in REQUEST_FORM_PERSON.fields
        - const [name, legend] = field;
        +form-field--text({
          name: name,
          legend: legend,
          placeholder: legend,
        }).request-form__field

    footer.request-form__footer
      button.request-form__button(type='submit') Рассчитать доставку
      p.request-form__caution Нажимая кнопку "Рассчитать доставку", я соглашаюсь с #[a.request-form__link(href='#') правилами обработки персональных данных]
