mixin request-form(requestForm_props)
  include _d_request-form
  - const { modifier, heading } = requestForm_props;
  form.request-form(
    class=`request-form--${modifier}`
    method='POST',
    action=FORM_DEFAULT_ACTION,
    name=`${modifier}-request`,
  )
    h3.request-form__heading= heading

    fieldset.request-form__group.request-form__group--route
      legend.request-form__group-caption Маршрут
      each item in REQUEST_FORM_ROUTE_FIELDS
        - const [name, legend] = item;
        +form-field({
          name: name,
          legend: legend,
          placeholder: legend,
        }).request-form__field(class=`request-form__field--${name}`)

    case modifier
      when 'shipping'
        fieldset.request-form__group.request-form__group--dimensions
          legend.request-form__group-caption Параметры груза
          each item in REQUEST_FORM_DIMENSIONS_FIELDS
            -
              const [name, legend] = item;
              const unit = (name === 'weight' ? 'кг' : 'см');
            +form-field({
              name: name,
              legend: legend,
              placeholder: `${legend} (${unit})`,
            }).request-form__field(
              class=`request-form__field--${name}`
            )
      when 'calculation'
        fieldset.request-form__group.request-form__group--capgo-type
          legend.request-form__group-caption Сведения о грузе
          - const [name, legend] = REQUEST_FORM_CARGO_TYPE_FIELDS;
          .request-form__select-list
          +form-field({
            name: name,
            legend: legend,
            placeholder: `${legend}, кг`,
          })
        fieldset.request-form__group.request-form__group--transport-type
          legend.request-form__group-caption Тип доставки:
          each item in REQUEST_FORM_TRANSPORT_TYPE_FIELDS
            - const [value, legend] = item;
            +form-field({
              type: 'radio',
              name: 'transport_type',
              legend: legend,
              value: value,
              isChecked: (value === 'plane' ? 'checked' : false),
            })

    fieldset.request-form__group.request-form__group--person
      legend.request-form__group-caption Персональные данные
      each item in REQUEST_FORM_PERSON_FIELDS
        - const [name, legend] = item;
        +form-field({
          name: name,
          legend: legend,
          placeholder: legend,
        }).request-form__field(class=`.request-form__field--${name}`)

    footer.request-form__footer
      button.request-form__button(type='submit') Рассчитать доставку
      p.request-form__caution Нажимая кнопку "Рассчитать доставку", я соглашаюсь с #[a.request-form__link(href='#') правилами обработки персональных данных]
