mixin customs(customs_modifier)
  include _d_customs
  -
    const {
      title,
      subtitle,
      imageAltText,
      paragraphs,
      listItems,
    } = CUSTOMS_DATA[customs_modifier];
    const imageProps = {
      alt: imageAltText,
      path: `customs--${customs_modifier}__image`,
      mediaSet: [['OM', 200], ['S', 320], 420],
    };

  section(class=[
    'customs',
    `customs--${customs_modifier}`,
    attributes.class,
  ])
    div(class=[
      'generic-container',
      'generic-container--wide-s',
      'customs__container',
    ])
      header.customs__headline
        h2.generic-heading-1.customs__title
          span.generic-heading-1__inner= title
          span.generic-heading-1__hidden(role='presentation')= title
        p.generic-heading-3.customs__subtitle= subtitle
      +generic-picture(imageProps).customs__image-wrapper
      .customs__text-content
        - const customsParagraphsRest = paragraphs.slice(1);
        p.generic-textblock(class=[
          'customs__paragraph',
          'customs__paragraph--lone',
        ])!= paragraphs[0]
        ul.customs__list
          each item, index in listItems
            li.generic-textblock(class=[
              'customs__item',
              index === listItems.length - 1 ? 'customs__item--last' : null,
            ])!= item
        each item, index in customsParagraphsRest
          p.generic-textblock(class=[
            'customs__paragraph',
            (
              index === customsParagraphsRest.length - 1
              ? 'customs__paragraph--last'
              : null
            ),
          ])!= item
