mixin indices()
  -
    const INDICES_ITEMS = [
      ['15 733 000', 'тонн перевезено'],
      ['156', 'партнеров'],
      ['15', 'лет на рынке перевозок'],
      ['58', 'человек в команде'],
    ];
  section.indices(class=attributes.class)
    .generic-container.generic-container--wide.indices__container
      h2.generic-heading.indices__heading Показатели
      +generic-picture(
        src='img/indices__image.jpg'
        alt='Контейнеры'
      ).indices__image-wrapper
      dl.indices__list
        each item, index in INDICES_ITEMS
          - const [value, key] = item;
          dt.indices__term(class=`indices__term--${index + 1}`)
            span.indices__string= key
          dd.indices__details(class=`indices__details--${index + 1}`)= value
