section.logistics-brief(class=pageMain_getElClasses('logistics-brief'))
  -
    const LOGISTICS_IMAGES_COMMON_PATH = 'logistics-brief__image';
    const LOGISTICS_BRIEF_IMAGES = [
      {
        alt: 'Башня',
        mediaSet: [['S', 80], ['M', 140], ['L', 170], 300],
        isShadowed: true,
      },
      {
        alt: 'Собор',
        mediaSet: [['S', 320], ['M', 400], ['L', 480], 840],
        isShadowed: false,
      },
      {
        alt: 'Пагода',
        mediaSet: [['S', 80], ['M', 128], ['L', 154], 270],
        isShadowed: true,
      },
    ];
  div(class=[
    'generic-container',
    'generic-container--wide-s',
    'logistics-brief__container',
  ])
    .blending.logistics-brief__inner
      +blending__heading-wrapper().logistics__brief__heading-wrapper
        | География перевозок
      .blending__pictures.logistics__brief__pictures
        each image, index in LOGISTICS_BRIEF_IMAGES
          -
            const number = index + 1;
            const pathProp = {
              path: `${LOGISTICS_IMAGES_COMMON_PATH}--${number}`,
            };
            const { title, isShadowed } = image;
            const full_props = Object.assign(image, pathProp);
          +generic-picture(full_props).blending__picture(
            class=[
              'logistics-brief__image-wrapper',
              `logistics-brief__image-wrapper--${number}`,
            ],
            modifier=(isShadowed ? 'shadowed' : null),
          )
    ul.logistics-brief__list
      each listItem, index in _LOGISTICS_ITEMS
        - const { caption, list: innerList, modifier } = listItem;
        li(class=[
          'logistics-brief__item',
          (
            index === _LOGISTICS_ITEMS.length - 1
            ? 'logistics-brief__item--last'
            : null
          ),
        ])
          div(class=[
            'logistics-directions',
            `logistics-directions--${modifier}`,
          ])
            h3.generic-heading-2.logistics-directions__heading= caption
            ul.logistics-directions__list
              each item, index in innerList
                - const number = index + 1;
                li(class=[
                  'logistics-directions__item',
                  `logistics-directions__item--${number}`,
                  (
                    index === number
                    ? 'logistics-directions__item--last'
                    : null
                  ),
                ])
                  a.logistics-directions__link(href='#')= item
