mixin about()
  include _d_about
  .about(class=attributes.class)
    .generic-container.about__container
      h1(class=[
        'generic-heading',
        'generic-container__heading',
      ]).about__heading= page.heading()
      .generic-container__inner.about__inner
        +generic-picture(
          src='img/about__image.jpg'
          alt='Склад'
        ).about__image-wrapper
        each item, index in ABOUT_FEATURES_LISTS
          -
            const lastAboutListModifier =
              (index === ABOUT_FEATURES_LISTS.length - 1)
              ? 'about__list--last'
              : null;
            const { heading, list } = item;
          .about__features-block
            h3.about__list-caption= `${heading}:`
            +generic-list(list).about__list(class=lastAboutListModifier)
