mixin navigation()
  include _d_navigation
  .navigation(class=attributes.class)
    ul.navigation__list
      each item in NAVIGATION_ITEMS
        - const [modifier, text] = item;
        li.generic-heading-2.navigation__item
          -
            const linkPath = _EMPTY_NAVIGATION_LINKS.includes(modifier)
              ? '#'
              : `${modifier}.html`;
          a.navigation__link(
            class=(
              modifier === 'certificates'
              ? 'navigation__link--certificates'
              : null
            )
            href=(modifier === page.id ? null : linkPath)
          )= text
          if modifier in NAVIGATION_INNER_LISTS
            +navigation-sublist(NAVIGATION_INNER_LISTS[modifier])(
              class='navigation__sublist',
            )
    .navigation__certificates
      +certificates()
