.about.page-main__about
  include _d_about
  .generic-container.about__container
    h1.generic-heading-1.generic-container__heading.about__heading
      = page.heading()
    .generic-container__inner.about__inner
      +generic-picture().about__image-wrapper(
        srcset=getPictureData(ABOUT_IMAGES[0]).srcset,
        sizes=getPictureData(ABOUT_IMAGES[0]).sizes,
        src=getPictureData(ABOUT_IMAGES[0]).src,
        alt=getPictureData(ABOUT_IMAGES[0]).alt,
      )
      each item, index in ABOUT_FEATURES_LISTS
        -
          const { heading, list } = item;
          const number = index + 1;
        div(class=[
          'about__features-block',
          `about__features-block--${number}`,
          (
            number === ABOUT_FEATURES_LISTS.length
            ? 'about__features-block--last'
            : null
          ),
        ])
          h3.generic-heading-3.about__list-caption= `${heading}:`
          +generic-list({ modifier: 'bullet_bottom', data: list }).about__list
