section.intro(class=pageMain_getElClasses('intro'))
  -
    const INTRO_IMAGES_COMMON_PATH = 'intro__image';
    const INTRO_IMAGES_EXT = 'jpg';
    const INTRO_IMAGES = [
      {
        alt: 'Ракета',
        mediaSet: [['S', 320], ['M', 488], ['L', 596], 840],
        isShadowed: false,
      },
      {
        alt: 'Облака',
        mediaSet: [['S', 160], ['M', 186], ['L', 212], 300],
        isShadowed: true,
      },
    ];
  div(class=[
    'generic-container',
    'generic-container--wide-s',
    'intro__container',
  ])
    .blending.intro__inner
      +blending__heading-wrapper().intro__heading-wrapper
        | Международная перевозка сборных грузов
      .blending__pictures.intro__pictures
        each image, index in INTRO_IMAGES
          -
            const number = index + 1;
            const addProps = {
              ext: INTRO_IMAGES_EXT,
              path: `${INTRO_IMAGES_COMMON_PATH}--${number}`,
            };
            const full_props = Object.assign(addProps, image);
          +generic-picture(full_props).blending__picture(
            class=['intro__image-wrapper', `intro__image-wrapper--${number}`],
            modifier=(isShadowed ? 'shadowed' : null),
          )
