mixin socials()
  -
    const SOCIALS_ITEMS = [
      ['facebook', 'Facebook'],
      ['instagram', 'Instagram'],
      ['vk', 'ВКонтакте'],
    ];
  .socials(class=attributes.class)
    ul.socials__list
      each item, index in SOCIALS_ITEMS
        - const [path, text] = item;
        li.socials__item(class=`socials__item--${index + 1}`)
          a.socials__link(
            class=`socials__link--${path}`
            href=`https://${path}.com/`
          )
            span.socials__legend= text
