mixin search-form()
  form.search-form(
    method='GET'
    action=FORM_DEFAULT_ACTION
    name='search-tracking'
  )
    label.search-form__field-wrapper
      span.search-form__legend Поле ввода трек-номера
      input.search-form__field(
        type='search'
        name='search-text'
        placeholder='Введите трек-номер'
      )
    button.search-form__button(type='submit')
      .search-form__button-legend Найти отправление
