mixin search-form()
  form.search-form(
    method='GET'
    action=FORM_DEFAULT_ACTION
    name='search-tracking'
  )
    +common-form-field('search')(
      name='search-text'
      placeholder='Введите трек-номер'
    ).search-form__field-wrapper
      | Поле ввода трек-номера
    button.search-form__button(type='submit')
      .search-form__button-legend Найти отправление
