.socials(class=[
  'header-popup__nest',
  'header-popup__nest--socials',
])
  -
    const SOCIALS_ITEMS = [
      ['facebook', 'Facebook'],
      ['instagram', 'Instagram'],
      ['vk', 'ВКонтакте'],
    ];
  ul.socials__list
    each item, index in SOCIALS_ITEMS
      -
        const [path, text] = item;
        const number = index + 1;
      li(class=[
        'socials__item',
        `socials__item--${number}`,
        number === SOCIALS_ITEMS.length ? 'socials__item--last' : null,
      ], aria-labelledby=path)
        a(
          class=['socials__link', `socials__link--${path}`],
          id=path,
          href=`https://${path}.com/`,
          aria-label=text,
        )
