mixin indices()
  -
    const INDICES_ITEMS = [
      ['15 733 000', 'тонн перевезено'],
      ['156', 'партнеров'],
      ['15', 'лет на рынке перевозок'],
      ['58', 'человек в команде'],
    ];
  section.indices(class=attributes.class)
    +generic-container().indices__container
      +generic-heading().indices__heading Показатели
      +generic-picture(
        src='img/indices__image.jpg'
        alt='Контейнеры'
      ).indices__image-wrapper
      dl.indices__list
        each item in INDICES_ITEMS
          - const [value, key] = item;
          dt.indices__term
            span.indices__string= key
          dd.indices__details= value
