mixin head(head_options)
  - const head_defaultOptions = { title: 'Главная' };
  +setDefaults(head_options, head_defaultOptions)
  head
    meta(charset='utf-8')
    title #{head_options.title} | #{siteName}
    each item in generalMetaData
      - const [name, content] = item;
      meta(name=name content=content)
    each item in faviconsLinkData
      link&attributes(item)
    each item in faviconsMetaData
      - const [name, content] = item;
      meta(name=name content=content)
    each weightValue in fontProperties.weightNames
      each styleValue in fontProperties.styleNames
        link(
          rel='preload'
          href=`fonts/${fontFamilyName}-${weightValue}-${styleValue}.woff2`
          as='font'
          crossorigin='anonymous'
        )
    link(rel='stylesheet' href='css/main.min.css')
