mixin basic-picture(basicPicture_props)
  -
    const {
      altText,
      imageFormat='jpg',
      areBlocksNumerated=false,
      areImagesNumerated=true,
      numerator=null,
      parentClass,
      parentHasModifier=false,
      imagePathModifier=false,
    } = basicPicture_props;
    const parentElementClass = `${parentClass}__image-wrapper`;
    const parentElementNumeratorClass = areBlocksNumerated
      ? `${parentElementClass}--${numerator}`
      : null;

    const imageInnerSubpath = parentHasModifier
      ? `${parentClass}--${imagePathModifier}__image`
      : `${parentClass}__image`;

    const imageSubpath = areImagesNumerated
      ? `${imageInnerSubpath}--${numerator}`
      : imageInnerSubpath;

  picture.basic-picture(class=[parentElementClass, parentElementNumeratorClass])
    img.basic-picture__image(
      src=`img/${imageSubpath}.${imageFormat}`
      alt=altText
    )
