mixin basic-picture(basicPicture_props)
  -
    const {
      altText,
      imageFormat='jpg',
      areBlocksNumerated=false,
      areImagesNumerated=true,
      numerator=null,
      parentClass,
    } = basicPicture_props;
    const parentElementClass = `${parentClass}__image-wrapper`;
    const parentElementNumeratorClass = areBlocksNumerated
      ? `${parentElementClass}--${numerator}`
      : null;
    const imageSubpath = areImagesNumerated
      ? `${parentClass}__image--${numerator}`
      : `${parentClass}__image`;

  picture.basic-picture(class=[parentElementClass, parentElementNumeratorClass])
    img.basic-picture__image(
      src=`img/${imageSubpath}.${imageFormat}`
      alt=altText
    )
