mixin transport-item(transportItem_props)
  - const { heading, number } = transportItem_props;
  li.transport-item(
    class=([
      heading === 'Ракетный транспорт' ? 'transport-item--special' : null,
      attributes.class,
    ])
  )
    h3.generic-heading-2.transport-item__heading= heading
    if heading === 'Ракетный транспорт'
      .transport-item__wrapper
        +generic-picture(
          src=`img/transport-item__image--${number}.jpg`
          alt=heading
        ).transport-item__image-wrapper
        span.transport-item__hint Скоро
    else
      +generic-picture(
        src=`img/transport-item__image--${number}.jpg`
        alt=heading
      ).transport-item__image-wrapper

