mixin article()
  include _article_Paragraphs
  article.article(class=attributes.class)
    header.article__header
      .generic-container.article__heading-wrapper
        h1(class=[
          'generic-heading-1',
          'generic-container__heading',
        ]).article__heading= page.heading
      .article__banner-wrapper
        +generic-picture()(
          src='img/article__banner-image.jpg'
          alt=page.heading
        ).article__banner
    .generic-container.article__container
      .generic-container__inner.article__inner
        .article__top-block
          h3.generic-heading-2.article__subtitle Подзаголовок для статьи
          .article__textblock
            +article_Paragraphs()
            +article_Paragraphs()
        .article__bottom-block
          h3.generic-heading-2.article__subtitle Подзаголовок для статьи
          .article__textblock
            +article_Paragraphs()
          +generic-picture(
            src='img/article__image.jpg'
            alt='Контейнеры на складе'
          ).article__image-wrapper
