mixin common-form-field(formFieldType)
  label.common-form-field(class=attributes.class)
    span.common-form-field__legend
      block
    input.common-form-field__input(
      type=formFieldType
      name=attributes.name
      value=attributes.value
      placeholder=attributes.placeholder
      checked=attributes.checked
      required
    )
