mixin form-field(formField_props)
  -
    const {
      type='text',
      name,
      legend,
      placeholder=null,
      value=null,
      isChecked=false,
    } = formField_props;
    const legendModifier = (type === 'radio' ? 'visible' : 'invisible');
  label.form-field(class=[attributes.class, `${attributes.class}--${name}`])
    span.form-field__legend(class=`form-field__legend--${legendModifier}`)
      = legend
    input.form-field__input(
      type=type
      name=name
      value=value
      placeholder=placeholder
      checked=isChecked
      required
    )
