mixin generic-picture(genericPicture_modifier)
  picture(class=[
    'generic-picture',
    (
      genericPicture_modifier
      ? `generic-picture--${genericPicture_modifier}`
      : null
    ),
    attributes.class,
  ])&attributes(attributes)
    img.generic-picture__image(
      srcset=attributes.srcset,
      sizes=attributes.sizes,
      src=attributes.src,
      alt=attributes.alt,
    )
