mixin request-form(requestForm_props)
  - const { modifier, heading, mqToggle } = requestForm_props;
  form.request-form(
    class=[`request-form--${modifier}`, attributes.class],
    method='POST',
    action=FORM_DEFAULT_ACTION,
    name=`${modifier}-request`,
  )
    h3.generic-heading-3.request-form__heading= heading
    .request-form__body
      +request-text-formgroup('route').request-form__group
      case modifier
        when 'shipping'
          +request-text-formgroup('dimensions').request-form__group
        when 'calculation'
          +request-text-formgroup('cargo-type').request-form__group
          include ../_request-radio-formgroup/_request-radio-formgroup
      +request-text-formgroup('person').request-form__group

    include _request-form__footer

//-TODO:
  исправить mq-классы для форм, чтобы не было сильного дублирования кода в CSS:
  1). Возможно, стоит ввести составные модификаторы для разных форм.
