mixin request-form(requestForm_props)
  - const { modifier, heading } = requestForm_props;
  form.request-form(
    class=[`request-form--${modifier}`, attributes.class]
    method='POST',
    action=FORM_DEFAULT_ACTION,
    name=`${modifier}-request`,
  )
    h3.generic-heading-3.request-form__heading= heading
    .request-form__body
      +request-formgroup('route').request-form__group
      case modifier
        when 'shipping'
          +request-formgroup('dimensions').request-form__group
        when 'calculation'
          +request-formgroup('cargo-type').request-form__group
            .select-field.request-form__select-field
              a.select-field__link(href='#')
                span.select-field__legend Тип груза
          +request-formgroup('transport-type').request-form__group
      +request-formgroup('person').request-form__group

    footer.request-form__footer
      button.generic-link.request-form__button(type='submit') Рассчитать доставку
      p.request-form__caution
        = 'Нажимая кнопку "Рассчитать доставку", я соглашаюсь с '
        a.request-form__link(href='#') правилами обработки персональных данных
