mixin request-form(requestForm_props)
  include _d_request-form
  include _request-form__group
  - const { modifier, heading } = requestForm_props;
  form.request-form(
    class=[`request-form--${modifier}`, attributes.class]
    method='POST',
    action=FORM_DEFAULT_ACTION,
    name=`${modifier}-request`,
  )
    h3.generic-heading-3.request-form__heading= heading

    +request-form__group('route')

    case modifier
      when 'shipping'
        +request-form__group('dimensions')
      when 'calculation'
        +request-form__group('cargo-type')
          .select-field.request-form__select-field
            a.select-field__link(href='#')
              span.select-field__legend Тип груза
        +request-form__group('transport-type')

    +request-form__group('person')

    footer.request-form__footer
      button.generic-link.request-form__button(type='submit') Рассчитать доставку
      p.request-form__caution
        = 'Нажимая кнопку "Рассчитать доставку", я соглашаюсь с '
        a.request-form__link(href='#') правилами обработки персональных данных
